
.logo{
  width: 100px;
  height: auto;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
}

.logo-container{
  width: 100%;
  height: 100px;
  background-color: #f01010;
  position:fixed;
  top: 0;
  left: 0;
  padding: 15px;
}